Host;WG_Port;WG_TunnelIP;OPNsense;URL_BKPRepo
pve-ceppa;51820;10.255.255.2;s;https://backups.uftm.edu.br/opnsense/ceppa/config.xml
pve-dass;51820;10.255.255.3;s;https://backups.uftm.edu.br/opnsense/dass/config.xml
pve-diaes;51820;10.255.255.4;s;https://backups.uftm.edu.br/opnsense/diaes/config.xml
pve-odonto;51820;10.255.255.10;s;https://backups.uftm.edu.br/opnsense/odonto/config.xml
pve-testes-gontijo;51820;10.255.255.200;n;
